/* 
Color Guide
  Purple 
  #1A1423
  #3d314a
  Middle
  #684756
  Brown
  #96705b
  #ab8476
  #B59A8C
  Light Blue
  #19697B
*/
/*
TODO Colors
  Danger
  Warning
  Info
*/

$primary-dark-color: #1a1423;
$primary-color: #3d314a;
$secondary-color: #684756;
$secondary-light-color: #96705b;
$secondary-light-light-color: #ab8476;
$info-color: #19697b;
$light-color: #e9ecef;
$dark-color: #343a40;
