@import './sizing-variables.scss';
@import './nav.scss';

// variables
$font-stack: Helvetica, sans-serif;

// element overwrites
body {
  color: $primary-dark-color;
  font: 100% $font-stack;
  margin: 0 !important;
  padding: 0 !important;
}

// Classes
.root-container-flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: $md) {
  .root-container-flex {
    display: flex;
    flex-direction: row;
  }
}

// ID
#main-container {
  // flexbox
  display: flex;
  flex-direction: column;

  // other properties
  margin: auto;
  padding: $nav-height 0 0 0; //TODO make this a variable
  width: 100%;

  h1 {
    margin-top: 0;
  }

  main {
    padding: 1rem;
  }
}

@media (min-width: $md) {
  #main-container {
    padding: 0 0 0 $nav-width;
    // width: $md;
    width: 100%;

    main {
      padding: 1rem;
    }
  }
}
